{% extends './base.html' %}
{% load static %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag|title }}
        {{ field }}
    </p>
    {% endfor %}
    {% for error in field.errors %}
        <p style="color: red;">{{ error|escape }}</p>
    {% endfor %}
    <div class="button-container">
        <input type="submit" value="Update" class="submit">
        <a href="{% url 'ingredientlist' %}" class="cancel">Cancel</a>
    </div>
</form>
{% endblock %}