{% extends './base.html' %}
{% load static %}

{% block content %}
<h2>Inventory</h2>

<table class="inventory">
    <th>Ingredient</th>
    <th>Price Per Unit</th>
    <th>Stock</th>
    {% for ingredient in ingredient_list %}
    <tr>
        <td>{{ ingredient.name|title }}</td>
        {% if ingredient.unit != 'None' %}
        <td id="price">${{ ingredient.unit_price }} / {{ ingredient.unit }}</td> <!-- question about price  -->
        {% else %}
        <td id="price">${{ ingredient.unit_price }}</td>
        {% endif %}
        <td>{{ ingredient.quantity }}</td>
        <td>
            <a href="{% url 'ingredientdelete' ingredient.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}