{% extends './base.html' %}
{% load static %}

{% block header %}
<a href="{% url 'home' %}" class="home">HOME</a>
{% endblock %}

{% block content %}
<h2 class="page-title">Inventory</h2>

<table class="inventory">
    <th>Ingredient</th>
    <th class="shorter">Price Per Unit</th>
    <th class="shorter">Stock</th>
    <th class="shorter"></th>
    {% for ingredient in user_ingredient_list %}
    <tr>
        <td class="longer">{{ ingredient.name|title }}</td>
        {% if ingredient.unit != 'None' %}
        <td class="shorter">${{ ingredient.unit_price }} / {{ ingredient.unit }}</td>
        {% else %}
        <td class="shorter">${{ ingredient.unit_price }}</td>
        {% endif %}
        <td class="update shorter">
            <a href="{% url 'ingredientupdate' ingredient.id %}">Update</a>
            {% if ingredient.unit != 'None' %}
            <span>{{ ingredient.quantity }} {{ ingredient.unit }}</span>
            {% elif ingredient.unit == 'None' %}
            <span>{{ ingredient.quantity }}</span>
            {% endif %}
        </td>
        <td class="shorter">
            <a href="{% url 'ingredientdelete' ingredient.id %}" class="delete">Delete</a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3" class="add">
            <a href="{% url 'ingredientcreate' %}">Add</a>
        </td>
    </tr>
</table>
{% endblock %}