{% extends './base.html' %}
{% load static %}

{% block header %}
<a href="{% url 'home' %}" class="home">HOME</a>
{% endblock %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    {% if field.name == 'price' %}
    <p>
        {{ field.label_tag|title }}
        ${{ field }}
    </p>
    {% else %}
    <p>
        {{ field.label_tag|title }}
        {{ field }}
    </p>
    {% endif %}
    {% endfor %}
    {% for error in field.errors %}
        <p style="color: red;">{{ error|escape }}</p>
    {% endfor %}
    <div class="button-container">
        <input type="submit" value="Submit" class="submit">
        <a href="{% url 'menuitemlist' %}" class="cancel">Cancel</a>
    </div>
</form>
{% endblock %}