{% extends './base.html' %}
{% load static %}

{% block header %}
<a href="{% url 'home' %}" class="home">HOME</a>
{% endblock %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <p>
            {{ field.label_tag|title }}
            {{ field }}
        </p>
    {% endfor %}
    {% for error in field.errors %}
        <p style="color: red;">{{ error|escape }}</p>
    {% endfor %}
    {% for error in form.non_field_errors %}
        <p style="color: red;">{{ error|escape }}</p>
    {% endfor %}
    <div class="button-container">
        <input type="submit" value="Submit" class="submit">
        <a href="{% url 'purchaselist' %}" class="cancel">Cancel</a>
    </div>
</form>
{% endblock %}