{% extends './base.html' %}
{% load static %}

{% block header %}
<div class="header">
    <a href="{% url 'home' %}" class="home">HOME</a>
</div>
{% endblock %}

{% block content %}
<h2 class="page-title">Purchases</h2>

<table class="purchases">
    <th>Menu Item</th>
    <th></th>
    <th></th>
    <th>Time of Purchase</th>
    {% for purchase in user_purchase_list %}
    <tr>
        <td>{{ purchase.menu_item|title }}</td>
        <td></td>
        <td></td>
        <td>{{ purchase.timestamp|date:"M d, Y h:i A"}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan=4 class="plus">
            <a href="{% url 'purchasecreate' %}">&#xFF0B;</a>
        </td>
    </tr>
</table>
{% endblock %}