{% extends './base.html' %}
{% load static %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <p>
            {{ field.label_tag|title }}
            {{ field }}
        </p>
    {% endfor %}
    {% if form.errors %}
        <p style="color: red;">Not enough ingredients in stock.</p>
    {% endif %}
    <div class="button-container">
        <input type="submit" value="Submit" class="submit">
        <a href="{% url 'purchaselist' %}" class="cancel">Cancel</a>
    </div>
</form>
{% endblock %}