{% extends './base.html' %}
{% load static %}

{% block header %}
<div class="header">
    <a href="{% url 'home' %}" class="home">HOME</a>
</div>
{% endblock %}

{% block content %}
<h2>Profit Report</h2>

<table class="report">
    <tr>
        <td>${{ total_revenue }}</td>
        <td>-</td>
        <td>${{ total_expenses }}</td>
        <td>=</td>
        {% if total > 0 %}
        <td>${{ total_profit }}</td>
        {% else %}
        <td>-${{ total_profit }}</td>
        {% endif %}
    </tr>
</table>
{% endblock %}